<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Div Tag</title>
    <link rel="stylesheet" href="./template.css">
    <link rel="stylesheet" href="./flexbox.html">
    
</head>
<body>
    <div id="header">
       <h1> Header</h1> 
        
    </div>

    <div class="banner"> 
        <h1>Banner</h1>
    </div>
    <h2>section-1</h2>
    <section id="sec-1">
       
        <div class="circles">circle-1 </div>
        <div class="circles">circle-2 </div>
        <div class="circles">circle-3 </div>
        <div class="circles">circle-4 </div>

        
    </section>

    <h2>section-2</h2>

    <section id="sec-2">
        <main>
            Main content
        </main>
        <aside>
            <article id="art-1" class="art"> Article-1</article>
            <article id="art-2" class="art"> Article-2</article>
            <article id="art-3" class="art"> Article-3</article>
        </aside>



    </section>

    <h2>section-3</h2>
    <section id="sec-3"> 
        <div class="boxes" Box-1> Box-1</div>
        <div class="boxes" Box-2> box-2</div>
        <div class="boxes" Box-3>box-3</div>
        <div class="boxes" Box-4>box-4</div>
    </section>
    <footer>
        footer
    </footer>
     
</body>
</html>